<style type="text/css">


  form.form {
    margin: 2em auto 3em auto;
    max-width: 100%;
  }

  /* @media screen and (max-width: 992px) {
    form.form {
      max-width: 90%
    }
  } */

  form.form .form-input {
    padding-bottom: 1em
  }

  form.form label {
    display: block;
    margin-bottom: .3em;
  }

  form.form input, form.form textarea, form.form select, form.form input {
     background-color:#FFFFFF;
     border:solid 1px #A9A9A9;
     font-size:13px;
     color:#000000;

     -moz-border-radius:5px;
     -webkit-border-radius:5px;
     border-radius:5px;

     padding:10px;

     width: 90%;
  }
  form.form .submit input {
     background-color:#FFFFFF;
     border:solid 1px #A9A9A9;
     font-size:16px;
     color:#000000;
     font-weight:normal;
     padding:8px 25px;
     -moz-border-radius:5px;
     -webkit-border-radius:5px;
     border-radius:5px;
  }

  form.form .submit {
     margin-top:0px;
     margin-bottom:0px;
     text-align:left;
     width: auto;
  }


</style>

<form class="form" action="https://formspree.io/{{ site.email }}" method="POST" enctype="multipart/form-data">
  <div class="row">
    <div class="form-input">
      <label for="nameInput">Your name</label>
      <input class="u-full-width" type="text" placeholder="Your name…" id="nameInput" name="name" required>
    </div>
    <div class="form-input">
      <label for="nameInput">Your institution (optional)</label>
      <input class="u-full-width" type="text" placeholder="Your institution…" id="insitutionInput" name="institution">
    </div>
    <div class="form-input">
      <label for="exampleEmailInput">Your email (optional)</label>
      <input class="u-full-width" type="email" placeholder="Your email address…" id="exampleEmailInput" name="_replyto">
    </div>
  </div>
  <div class="row">
    <label for="exampleMessage">Message (optional)</label>
    <textarea class="u-full-width" style="height:100px" placeholder="Tell us about why you plan to attend the workshop…" id="message" name="message" height="30%" maxlength="1000"></textarea>
    <p><small><span id="charCount">0</span>/1000 characters</small></p>
    <input type="hidden" name="subject" value="Micro Meso Macro : new submission" />
    <input type="hidden" name="_after" value="./thanks.html" />
    <input class="button-primary submit" type="submit" value="Submit">
  </div>
</form>

<script>

  var message = document.getElementById('message')
  message.addEventListener('keydown', function(e){
    document.getElementById("charCount").innerHTML = message.value.length
  })



</script>
