<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="container">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="row">
      <div class="footer-col one-third column">
        <ul class="contact-list">
          <li class="p-name">
            <b>{{ site.title | escape }}</b>
          </li>
          <li>
            {{- site.description | escape -}}
          </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col one-third column">
        {%- include social.html -%}
      </div>

      <div class="footer-col one-third column">
          <ul class="contact-list">
            <li><a href="/about">About</a></li>
            <li><a href="/contribute">Get Involved</a></li>
            <li><a href="/authors">For Authors</a></li>
          </ul>
      </div>
    </div>

  </div>

</footer>
