<div id="news">
  <ul>
  {% for post in site.news reversed %}
      <li>
        <h3><a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>{% if post.author %} by {{ post.author }}{% endif %}</h3>

        <p>
          <date>{{ post.date | date_to_string}}</date>
        </p>

        {% assign excerpt_length = post.excerpt | size %}
        {% assign content_length = post.content | size %}
        {{ post.content }}
      </li>
  {% endfor %}
  </ul>
</div>
