<section id="sponsors" class="">
  <div class="container">
    <!-- {% include sponsor.html name='EPFL' link='http://epfl.ch' logo='EPFL-Logo-RVB-96.jpg' %} -->
    {% include sponsor.html name='ENS de Lyon' link='http://www.ens-lyon.fr' logo='logo_ens_2010.png' %}
    {% include sponsor.html name='INRIA' link='https://www.inria.fr' logo='Logo-Inria.png' %}
    {% include sponsor.html name='IXXI' link='http://ixxi.fr' logo='ixxi.png' %}
    <!-- {% include sponsor.html name='Future Earth' link='http://www.futureearth.org' logo='future_earth_logo.png' %} -->

  </div>
</section>
