<div id="thumbs" class="row">
  <p>
    <label for="technosphere">
      Technosphere
      <input type="checkbox" data-filter="thumbs" id="technosphere" data-filter-topics="technosphere" name="checkboxes" />
    </label>

    <label for="digital">
      Digital metabolism
      <input type="checkbox" data-filter="thumbs" id="digital" data-filter-topics="digital metabolism" name="checkboxes" />
    </label>

    <label for="ecosystems">
      Ecosystems
      <input type="checkbox" data-filter="thumbs" id="ecosystems" data-filter-topics="ecosystems" name="checkboxes" />
    </label>

    <label for="governance">
      Governance
      <input type="checkbox" data-filter="thumbs" id="governance" data-filter-topics="governance" name="checkboxes" />
    </label>

  </p>

  <ul class="thumbs">

    {% for post in site.posts %}
    {% capture viz_thumb_path %}/viz/{{post.slug}}/thumb.png{% endcapture %}

    <li class="thumb"
      data-topics='{{post.topics | jsonify }}'
      style={% if post.thumbnail %}"background-image:url({{post.thumbnail}})"{% else %}"background-image:url({{viz_thumb_path}})"
      {% endif %}>
      <a href="{{ post.url }}">
        <div class="thumb-title">
          <h3>
              {{ post.title }}
          </h3>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>


<script>

// DOME elements
const checkboxes = document.getElementsByName('checkboxes')
const thumbs = document.querySelectorAll('.thumbs > li');

// get a list of all topics
const allTopics = []
checkboxes.forEach(c => allTopics.push(c.getAttribute('data-filter-topics')))

reset()

// mouse
document.addEventListener('change', function (e) {

  let checked = []
  checkboxes.forEach(cb => {
      const topic = cb.getAttribute('data-filter-topics')
      if (cb.checked) checked.push(topic)
    })

  if(!checked.length) {
    checked = allTopics
    reset()
  }

  console.log(checked)

  thumbs.forEach(thumb => {
    var itemTags = thumb.getAttribute('data-topics');
    const topics = JSON.parse(itemTags) || []

    const hasSelectedTopics = checked.filter(t => topics.includes(t))

    // show / hide
    if (!!hasSelectedTopics.length) {
      thumb.setAttribute('data-toggle', 'on');
    } else {
      thumb.setAttribute('data-toggle', 'off');
    }
  })

});

function reset() {
  checkboxes.forEach(c => c.checked = true)
  thumbs.forEach(t => t.setAttribute('data-toggle', 'on'))
}

</script>
