.thumbs {

  max-width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 15px 0;

  article {
    margin: 2% 2% 0 0;
    width: 48%;
    @include media-query($on-palm) {
      width: 92%;
      margin: 4% 0 0 4%;
    }
    height: 350px;

    background: $brand-color;
    background-position: 50% 50%;
    background-size: cover;

    overflow: hidden;

    position: relative;
    h3 {
      position: relative;
      padding: 50px 20px 0 20px;
      a {
        color: white
      }
    }

    &:before {
      position: absolute;
      content: " ";
      background: darken($overlay-color, 40%);
      width: 100%;
      height: 100%;
    }


  }
}
