.thumbs {

  max-width: 100%;
  display: inline-flex;
  flex-wrap: wrap;

  margin: 15px 0;
  padding: 0;

  list-style: none;

  li {
    position: relative;
    height: 350px;
    margin: 2% 2% 0 0;
    width: 48%;

    @include media-query($on-palm) {
      width: 92%;
      margin: 4% 0 0 4%;
    }

    overflow: hidden;

    background: $brand-color;
    background-position: 50% 50%;
    background-size: cover;

    a {
      margin-top: 0;
      display: block;
      width: 100%;
      height: 100%;

      background: rgba($brand-color, .5);
      -webkit-transition: all .7s ease;
      opacity:1;

      &:hover {
        background: none;
        text-decoration: none;
        opacity:0;
      }
    }


    h3 {
      margin: 0;
      position: relative;
      padding: 50px 20px 0 20px;
      color: white
    }




  }
}
