// Typesetting variables. Edit these!
$baseFontSize:22; // in pixels. This would result in 22px on desktop
$baseLineHeight:1.5; // how large the line height is as a multiple of font size
$leading:$baseLineHeight * 1rem;
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
$scale:1.414;
